<!doctype html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <main class="container-fluid">
          <div class="mt-3 p-3">
        </div>
          <div class="mt-4 p-3 bg-light rounded">
            <div class="panel-body">
              <div class="col-md-12">
                <h4 class="text-center">Downloads</h4>
                <p>Download NAFLDkb data by category.</p>
              </div>
            </div>
          </div>
          <div class="mt-4 p-3 bg-light rounded">
            <h6><li><a href="/nafldkb/download?file=Associated_Diseases.xlsx">Associated Diseases</a> (xlsx: 17 records, 17 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Bioactive_Compounds.xlsx">Bioactive Compounds</a> (xlsx: 147,604 records, 10.2 MB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Clinical_Trials.xlsx">Clinical Trials</a> (xlsx: 1001 records, 586 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=CMap_Result.zip">CMap Result</a> (zip: 34,419 records, 8.9 MB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Repositioning_Candidates.xlsx">Repositioning Candidates</a> (xlsx: 1,608 records, 1.5 MB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Natural_Products.xlsx">Natural Products</a> (xlsx: 17,704 records, 989 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Research_Articles.xlsx">Research Articles</a> (xlsx: 36,597 records, 3.5 MB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Investigational_Drugs.xlsx">Investigational Drugs</a> (xlsx: 581 records, 271 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Therapeutic_Strategies.xlsx">Therapeutic Strategies</a> (xlsx: 17 records, 14 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Therapeutic_Targets.xlsx">Therapeutic Targets</a> (xlsx: 45 records, 21 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=Pathogenesis.csv">Pathogenesis</a> (csv: 8 records, 5 KB)</li></h6>
            <h6><li><a href="/nafldkb/download?file=NAFLD_Models.csv">NAFLD_Models</a> (csv: 68 records, 13 KB)</li></h6>
          </div>
        </main>
    </div>
  {% include "footer.html" %}
  </body>
</html>