      {% load static %}
      <img src="{% static 'images/title.png' %}" width="100%">
<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <div>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nafldkb/">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
            </a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown1" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Browse
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown1" style="min-width: 250px">
                <li>
                  <a href="/nafldkb/strategies" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#cpu-fill"></use></svg>
                    Therapeutic Strategies
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/targets" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#geo-fill"></use></svg>
                    Therapeutic Targets
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/drugs" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#gear-fill"></use></svg>
                    Investigational Drugs
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/trials" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#calendar3"></use></svg>
                    Clinical Trials
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/articles" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#files"></use></svg>
                    Research Articles
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/candidates" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chat-quote-fill"></use></svg>
                    Repositioning Candidates
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/compounds" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#Moisture"></use></svg>
                    Bioactive Compounds
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/cmap" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#bar-chart-steps"></use></svg>
                    CMap Candidates
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/products" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chevron-right"></use></svg>
                    Natural Products
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/diseases" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#toggles2"></use></svg>
                    Associated Diseases
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/pathogenesis" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#bezier"></use></svg>
                    Pathogenesis
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/models" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#eyedropper"></use></svg>
                    <I>In vitro</I> & <I>In vivo</I> Models
                  </a>
                </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown2" data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#tools"></use></svg>
                Tools
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdown2" style="min-width: 300px">
                <li>
                  <a href="/nafldkb/structure" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Structure Search
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/screening" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Druglikeness Screening
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/reposition" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#signpost"></use></svg>
                    Knowledge-based Repositioning
                  </a>
                </li>
                <li>
                  <a href="/nafldkb/annotation" class="nav-link link-dark">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#nlp"></use></svg>
                    Research Article Annotation
                  </a>
                </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nafldkb/casestudy">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#case"></use></svg>
                Case Study
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nafldkb/downloads">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#collection"></use></svg>
                Downloads
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nafldkb/tutorial">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#Question"></use></svg>
                Tutorial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/nafldkb/about">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                About
            </a>
          </li>
        </ul>
    </div>
    <div>
      <form action="/nafldkb/search/" method="get">
          {% csrf_token %}
          <div class="input-group input-group-sm">
              <input class="form-control" id="search-input" name="searchterm" placeholder="Search NAFLDkb..." aria-label="Search NAFLDkb..." style="position: relative; vertical-align: top; width: 250px">
          </div>
      </form>
    </div>
  </div>
</nav>