<!doctype html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container-fluid">
         <main class="container-fluid">
           <div class="mt-3 p-3">
        </div>
           <div class="mt-4 p-3 bg-light rounded">
            <div class="panel-body">
              <div class="col-md-12">
              <h4 class="text-center">Natural Product Details</h4>
            </div>
            </div>
          </div>
           <div class="accordion-item rounded">
            <h2 class="accordion-header" id="panelsStayOpen-heading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Summary
              </button>
            </h2>
            <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
              <div class="accordion-body">
                <div class="row">
                  <div class="col-5">
                      {% if img %}
                      <strong>Structure:</strong>
                        <img src="{{ img }}" id="img">
                      {% endif %}
                  </div>
                  <div class="col-7">
                  <table class="table table-condensed table-hover table-striped">
                    <tbody>
                      <tr><td style="vertical-align: middle" width="20%"><strong>Product ID:</strong></td><td style="text-align: left;padding-left: 20px"> N{{ rows0.0.0|stringformat:"05i" }}</td></tr>
                      <tr><td style="vertical-align: middle"><strong>Product Name:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.1 is None %}
                        --
                        {% else %}
                          {{ rows0.0.1 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>CAS No:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.2 is None %}
                        --
                        {% else %}
                          {{ rows0.0.2 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Molecular Formula:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.3 is None %}
                        --
                        {% else %}
                          {{ rows0.0.3 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>SMILES:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.4 is None %}
                        --
                        {% else %}
                          {{ rows0.0.4 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>InChiKey:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.5 is None %}
                        --
                        {% else %}
                          {{ rows0.0.5 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Category:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.6 is None  %}
                        --
                        {% else %}
                        {{ rows0.0.6 }}
                        {% endif %}
                      </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Biological Source:</strong></td><td style="text-align: left;padding-left: 20px">
                        {% if rows0.0.7 is None %}
                        --
                        {% else %}
                            <form id='npbs' action="http://www.organchem.csdb.cn/scdb/NPBS/database_R1.aspx" method="post" target="_blank">
                                <input type='hidden' class="form-control" name='SearchName' value='{{ rows0.0.7 }}'/>
                                <a onclick="document.getElementById('npbs').submit();" href="#">{{ rows0.0.7 }}</a>
                            </form>
                        {% endif %}
                      </td></tr>
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div class="mt-4 p-3 bg-light rounded">
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#graph"><h6>Knowledge Graph</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#data"><h6>Associated Data</h6></a>
                </li>
              </ul>
              <div class="tab-content">
                  <div id="graph" class="container-fluid tab-pane active">
                    <div class="row justify-content-center">
                      {% load static %}
                      <div class="col-md-2"><img src="{% static 'images/knowledge_graph_legend1.png' %}" width="100%"></div>
                      <div class="col-md-10"><div id="container" style="min-width:300px;height:600px;margin: 0 auto;" ></div></div>
                    </div>
                  </div>
                  <div id="data" class="container-fluid tab-pane fade"><br>
                    <div class="accordion-item rounded">
                                <h2 class="accordion-header" id="panelsStayOpen-heading2">
                                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                    Associated NAFLD Drugs ({{num1}})
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading2">
                                  <div class="accordion-body">
                                    <table class="table table-condensed table-hover table-striped table-bordered dataTable no-footer" style="margin-left: 0px;" role="grid">
                                      <thead>
                                        <tr role="row">
                                          <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Drug ID</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Drug Name</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Type</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">DrugBank ID</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Targets</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Category</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Latest Progress</th>
                                          <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle"></th>
                                        </tr>
                                  </thead>
                                  <tbody>
                                    {% for row in rows1 %}
                                      <tr role="row" class="odd text-center">
                                        <td style="vertical-align: middle"><a href="/nafldkb/drug_details?id={{ row.0 }}">D{{ row.0|stringformat:"03i" }}</a></td>
                                        <td style="vertical-align: middle">{{ row.1 }}</td>
                                        <td style="vertical-align: middle">
                                          {% if row.2 is None %}
                                          --
                                          {% else %}
                                            {{ row.2 }}
                                          {% endif %}
                                        </td>
                                        <td style="vertical-align: middle">
                                          {% if row.3 is None %}
                                          --
                                          {% else %}
                                            <a href="https://go.drugbank.com/drugs/{{ row.3 }}" target="_blank">{{ row.3 }}</a>
                                          {% endif %}
                                        </td>
                                        <td style="vertical-align: middle">
                                          {% if row.4 is None %}
                                          --
                                          {% else %}
                                            {{ row.4 }}
                                          {% endif %}
                                        </td>
                                        <td style="vertical-align: middle">
                                          {% if row.5 is None %}
                                          --
                                          {% else %}
                                            {{ row.5 }}
                                          {% endif %}
                                        </td>
                                        <td style="vertical-align: middle">
                                          {% if row.6 is None %}
                                          --
                                          {% else %}
                                            {{ row.6 }}
                                          {% endif %}
                                        </td>
                                        <td style="vertical-align: middle"><a href="/nafldkb/drug_details?id={{ row.0 }}">Details</a></td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                  </div>
                                </div>
                              </div>
                  </div>
              </div>
            </div>
          </div>
         </main>
    </div>
  {% include "footer.html" %}
  </body>
  <script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('.nav-tabs a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();         // active tab
        var y = $(event.relatedTarget).text();  // previous tab
        $(".act span").text(x);
        $(".prev span").text(y);
    });
});
Highcharts.chart('container', {
	chart: {
		type: 'networkgraph',
		// height: '50%'
	},
	title: {
		text: 'Knowledge graph of NAFLD Drug associated natural product: {% if rows0.0.1 is None %} ProductID-{{ rows0.0.0 }} {% else %} {{ rows0.0.1 }} {% endif %}'
	},
	subtitle: {
	    useHTML: true,
		text: "<span style='color:#00FF00'>Natural Product</span> -- <span style='color:#910000'>NAFLD Drugs</span>"
	},
	plotOptions: {
		networkgraph: {
			keys: ['from', 'to'],
			layoutAlgorithm: {
				enableSimulation: true
			}
		}
	},
	series: [{
		dataLabels: {
			enabled: true
		},
		data: [{{ links|safe }}],
		nodes: [{{ nodes|safe }}],
		point:{
          events:{
            click:function(){
              if (this.datatype=='drugs') {
                window.open('/nafldkb/drug_details?id='+this.cid,'_self');
              }
            }
          }
        },
	}]
});
  </script>
</html>