<!doctype html>
<html lang="en">
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container-fluid">
        <main class="container-fluid">
          <div class="mt-3 p-3">
        </div>
          <div class="mt-4 p-3 bg-light rounded">
            <div class="panel-body">
            <div class="col-md-12">
              <h4 class="text-center">Therapeutic Target Details</h4>
            </div>
            </div>
          </div>
          <div class="accordion-item rounded">
            <h2 class="accordion-header" id="panelsStayOpen-heading1">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Summary
              </button>
            </h2>
            <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
              <div class="accordion-body">
                  <table class="table table-condensed table-hover table-striped">
                    <tbody>
                      <tr><td style="vertical-align: middle" width="15%"><strong>Target ID:</strong></td><td style="text-align: left;padding-left: 20px"> T{{ rows0.0.0|stringformat:"02i" }}</td></tr>
                      <tr><td style="vertical-align: middle"><strong>Target Name:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.1 }}</td></tr>
                      <tr><td style="vertical-align: middle"><strong>Synonyms:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.2 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>GENE:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.3 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Action:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.4 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Class:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.5 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>UniProtKB ID:</strong></td><td style="text-align: left;padding-left: 20px"><a href="https://www.uniprot.org/uniprot/{{ rows0.0.7 }}" target="_blank">{{ rows0.0.7 }}</a></td></tr>
                      <tr><td style="vertical-align: middle"><strong>Entry Name:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.8 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Related Drugs:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.6 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Mechanism:</strong></td><td style="text-align: left;padding-left: 20px"> {{ rows0.0.9 }} </td></tr>
                      <tr><td style="vertical-align: middle"><strong>Reference (PMIDs):</strong></td><td style="text-align: left;padding-left: 20px"> {{ pmlink|safe }} </td></tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="mt-4 p-3 bg-light rounded">
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#graph"><h6>Knowledge Graph</h6></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#data"><h6>Associated Data</h6></a>
                </li>
              </ul>
              <div class="tab-content">
                  <div id="graph" class="container-fluid tab-pane active">
                    <div class="row justify-content-center">
                      {% load static %}
                      <div class="col-md-2"><img src="{% static 'images/knowledge_graph_legend1.png' %}" width="100%"></div>
                      <div class="col-md-10"><div id="container" style="min-width:300px;height:600px;margin: 0 auto;" ></div></div>
                    </div>
                  </div>
                  <div id="data" class="container-fluid tab-pane fade"><br>
                    <div class="accordion-item rounded">
                      <h2 class="accordion-header" id="panelsStayOpen-heading3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Associated NAFLD Drugs ({{num1}})
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading3">
                        <div class="accordion-body">
                              <table class="table table-condensed table-hover table-striped table-bordered dataTable no-footer" style="margin-left: 0px;" role="grid">
                                <thead>
                                  <tr role="row">
                                    <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Drug ID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Drug Name</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Type</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">DrugBank ID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Targets</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Category</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Latest Progress</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle"></th>
                                  </tr>
                            </thead>
                            <tbody>
                              {% for row in rows1 %}
                                <tr role="row" class="odd text-center">
                                  <td style="vertical-align: middle"><a href="/nafldkb/drug_details?id={{ row.0 }}">D{{ row.0|stringformat:"03i" }}</a></td>
                                  <td style="vertical-align: middle">{{ row.1 }}</td>
                                  <td style="vertical-align: middle">
                                    {% if row.2 is None %}
                                    --
                                    {% else %}
                                      {{ row.2 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.3 is None %}
                                    --
                                    {% else %}
                                      <a href="https://go.drugbank.com/drugs/{{ row.3 }}" target="_blank">{{ row.3 }}</a>
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.4 is None %}
                                    --
                                    {% else %}
                                      {{ row.4 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.5 is None %}
                                    --
                                    {% else %}
                                      {{ row.5 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.6 is None %}
                                    --
                                    {% else %}
                                      {{ row.6 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle"><a href="/nafldkb/drug_details?id={{ row.0 }}">Details</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          {% if num1 > 10 %}
                              <a class="btn btn-default pull-right" href="/nafldkb/drugs?searchterm={{ rows0.0.1 }}" role="button">Show More</a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item rounded">
                      <h2 class="accordion-header" id="panelsStayOpen-heading4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Repositioning Candidates ({{num2}})
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading4">
                        <div class="accordion-body">
                              <table class="table table-condensed table-hover table-striped table-bordered dataTable no-footer" style="margin-left: 0px;" role="grid">
                                <thead>
                                  <tr role="row">
                                    <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Candidate ID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Source ID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Source Type</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Compound Type</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Candidate Name</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Inclusion Criteria</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle"></th>
                                  </tr>
                            </thead>
                            <tbody>
                              {% for row in rows2 %}
                                <tr role="row" class="odd text-center">
                                  <td style="vertical-align: middle"><a href="/nafldkb/candidate_details?id={{ row.0 }}">R{{ row.0|stringformat:"04i" }}</a></td>
                                  <td style="vertical-align: middle"><a href="https://go.drugbank.com/drugs/{{ row.1 }}" target="_blank">{{ row.1 }}</a></td>
                                  <td style="vertical-align: middle">
                                    {% if row.2 is None %}
                                    --
                                    {% else %}
                                      {{ row.2 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.3 is None %}
                                    --
                                    {% else %}
                                      {{ row.3 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.4 is None %}
                                    --
                                    {% else %}
                                      {{ row.4 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.5 is None %}
                                    --
                                    {% else %}
                                      {{ row.5 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle"><a href="/nafldkb/candidate_details?id={{ row.0 }}">Details</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                              {% if num2 > 10 %}
                              <a class="btn btn-default pull-right" href="/nafldkb/candidates?searchterm={{ rows0.0.1 }}" role="button">Show More</a>
                              {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item rounded">
                      <h2 class="accordion-header" id="panelsStayOpen-heading5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Bioactive Compounds ({{ num4 }})
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading5">
                        <div class="accordion-body">
                              <table class="table table-condensed table-hover table-striped table-bordered dataTable no-footer" style="margin-left: 0px;" role="grid">
                                <thead>
                                <tr role="row">
                                      <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Compound ID</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Source ID</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Source Type</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Compound Name</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Molecular Weight</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Molecular Formula</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Molecular Species</th>
                                      <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle"></th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for row in rows4 %}
                                <tr role="row" class="odd text-center">
                                  <td style="vertical-align: middle"><a href="/nafldkb/compound_details?id={{ row.0 }}">B{{ row.0|stringformat:"06i" }}</a></td>
                                  <td style="vertical-align: middle"><a href="https://www.ebi.ac.uk/chembl/compound_report_card/{{ row.1 }}" target="_blank">{{ row.1 }}</a></td>
                                  <td style="vertical-align: middle">
                                    {% if row.2 is None %}
                                    --
                                    {% else %}
                                      {{ row.2 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.3 is None %}
                                    --
                                    {% else %}
                                      {{ row.3 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.4 is None %}
                                    --
                                    {% else %}
                                      {{ row.4 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.5 is None %}
                                    --
                                    {% else %}
                                      {{ row.5 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.5 is None %}
                                    --
                                    {% else %}
                                      {{ row.6 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle"><a href="/nafldkb/compound_details?id={{ row.0 }}">Details</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                              {% if num4 > 10 %}
                              <a class="btn btn-default pull-right" href="/nafldkb/compounds?searchterm={{ rows0.0.1 }}" role="button">Show More</a>
                              {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item rounded">
                      <h2 class="accordion-header" id="panelsStayOpen-heading6">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                          Research Articles ({{num3}})
                        </button>
                      </h2>
                      <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading6">
                        <div class="accordion-body">
                              <table class="table table-condensed table-hover table-striped table-bordered dataTable no-footer" style="margin-left: 0px;" role="grid">
                                <thead>
                                  <tr role="row">
                                    <th class="sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Article ID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">PMID</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Source</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle">Title</th>
                                    <th class="color1 sorting_disabled text-center" rowspan="1" colspan="1" style="vertical-align: middle"></th>
                                  </tr>
                            </thead>
                            <tbody>
                              {% for row in rows3 %}
                                <tr role="row" class="odd text-center">
                                  <td style="vertical-align: middle"><a href="/nafldkb/article_details?id={{ row.0 }}">A{{ row.0|stringformat:"05i" }}</a></td>
                                  <td style="vertical-align: middle"><a href="https://pubmed.ncbi.nlm.nih.gov/{{ row.1 }}" target="_blank">{{ row.1 }}</a></td>
                                  <td style="vertical-align: middle">
                                    {% if row.2 is None %}
                                    --
                                    {% else %}
                                      {{ row.2 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle">
                                    {% if row.3 is None %}
                                    --
                                    {% else %}
                                      {{ row.3 }}
                                    {% endif %}
                                  </td>
                                  <td style="vertical-align: middle"><a href="/nafldkb/article_details?id={{ row.0 }}">Details</a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                              {% if num3 > 20 %}
                              <a class="btn btn-default pull-right" href="/nafldkb/articles?searchterm={{ rows0.0.1 }}" role="button">Show More</a>
                              {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </main>
    </div>
  {% include "footer.html" %}
  </body>
  <script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
    $('.nav-tabs a').on('shown.bs.tab', function(event){
        var x = $(event.target).text();         // active tab
        var y = $(event.relatedTarget).text();  // previous tab
        $(".act span").text(x);
        $(".prev span").text(y);
    });
});
Highcharts.chart('container', {
	chart: {
		type: 'networkgraph',
		// height: '50%'
	},
	title: {
		text: 'Knowledge graph of NAFLD therapeutic target: {{ rows0.0.1 }}'
	},
	subtitle: {
	    useHTML: true,
		text: "<span style='color:#8bbc21'>Therapeutic Target</span> -- <span style='color:#910000'>NAFLD Drugs</span> -- <span style='color:#1aadce'>Repositioning Candidates</span>"
	},
	plotOptions: {
		networkgraph: {
			keys: ['from', 'to'],
			layoutAlgorithm: {
				enableSimulation: true
			}
		}
	},
	series: [{
		dataLabels: {
			enabled: true
		},
		data: [{{ links|safe }}],
		nodes: [{{ nodes|safe }}],
		point:{
          events:{
            click:function(){
              if (this.datatype=='drugs') {
                window.open('/nafldkb/drug_details?id='+this.cid,'_self');
              } else if (this.datatype=='candidates') {
                window.open('/nafldkb/candidate_details?id='+this.cid,'_self');
              }
            }
          }
        },
	}]
});
  </script>
</html>